
      body {
        background-color:#F0EEED;
      }
      hr{
        background-color:#F0EEED;
        border-style: inset;
        border-width:2px;
        border-color:grey;
      }
      img {
       width:30%;
       height:45%;
      }
      h1,h3
      {
        color: #609EA2;
      }
   
